doctype html
html(lang="en")
  head
    title Searching for Entertainment - by Zev Youra
    link(rel="stylesheet", href="style.css")
    meta(name="viewport", content="width=device-width")
    meta(property="og:image", content="screenshot.png")
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-31097932-1")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-31097932-1');
  body
    section#chart
    section#splash
    section.scrollable
      section.page
        section.headline
          input(autofocus, value="Searching for Entertainment")
          h2 in Late 2018
        h3 
          span by 
          a(href="//zevyoura.com/") Zev Youra
        section.tease scroll down
      section.page
        section.label 
          span In 
          span.strong 2018
          span , America has two remaining pastimes
        section.label.netflix Netflix
        section.label
          span and 
          span.meme memes
      section.page
        section.label Here's how many people searched for those terms on Google, in the US, for each day in late 2018
      section.page
        section.label There's a clear cycle:
        section.label
          span A couple days of 
          span.netflix Netflix 
          span on top
        section.label
          span Then a few days of "
          span.meme Meme
          span " taking over
        section.label
          span And then back to 
          span.netflix Netflix
          span , and so on
      section.page
        section.label If we shade in weekends (Fri-Sat), the pattern becomes obvious
        section.label
          p
            span We watch 
            span.netflix Netflix
            span  on the weekend, and spend our weekdays looking at 
            span.meme memes.
          p
            span This is especially true on the last weekday before a holiday: there are clear spikes in searches for 
            span.meme meme 
            span on the days before Thanksgiving and Christmas.
      section.page
        section.label
          span But in December, this weekly cycle changed, and 
          span.netflix Netflix 
          span dominated the search trends for the end of the year
        section.label What happened?
      section.page
        section.label
          span.netflix Netflix 
          span started streaming the movie  
          span.birdbox Bird Box 
          span on December 21
        section.label 
          span Thanks in part to PR-friendly 
          span.meme memes 
          span like the 
          a(href="https://www.nytimes.com/2019/01/02/arts/netflix-bird-box-challenge-warning.html")
            span.birdbox Bird Box 
            span challenge
          span , 
          span.netflix Netflix 
          span boosted 
          span.birdbox Bird Box 
          span to over 
          a(href="https://www.theverge.com/2018/12/30/18161741/bird-box-netflix-45-million-accounts-statistics-views") 45 million views
          span  in a week
      section.page
        section.label
          span In return, 
          span.birdbox Bird Box 
          span helped push the number of searches for 
          span.netflix Netflix 
          span to over 
          span.strong double 
          span the searches for "
          span.meme meme
          span " from December 26-29.
        section.label
          span At the peak of its popularity (Dec. 27-29), searches for 
          span.birdbox Bird Box 
          span surpassed searches for  
          span.netflix Netflix 
          span itself.
      section.page
        section.label
          span Meanwhile, in movie theaters, 
          span.aquaman Aquaman 
          span was also released on December 21: the same day as 
          span.birdbox Bird Box
          span . It led the box office charts for three weeks, and has grossed over 
          a(href="https://www.boxofficemojo.com/movies/?page=main&id=dcfilm0617.htm") 1 billion dollars worldwide
          span .
        section.label
          span Despite its success in theaters, 
          span.aquaman Aquaman 
          span has averaged only 
          span.strong half 
          span the search volume of 
          span.birdbox Bird Box 
          span since they were released.
        section.label
          span.birdbox Bird Box 
          span probably hasn't grossed a billion dollars for 
          span.netflix Netflix
          span , but the wild success of its 
          span.meme meme
          span -friendly marketing effort probably means we can expect to see many more 
          span.meme meme
          span -driven movies and PR campaigns in the future.
      section.page
        section.label
          p
            span Visualization by 
            a(href="//zevyoura.com") Zev Youra
          p
            a(href="//twitter.com/zzzev") Follow me on Twitter
        section.label
          span Data from 
          a(href="https://trends.google.com/trends/explore?date=2018-07-09%202019-01-09&geo=US&q=netflix,meme,bird%20box,aquaman") Google Trends
    script(src="https://unpkg.com/intersection-observer@0.5.0/intersection-observer.js")
    script(src="app.js", type="module")