$scheme0: #1f77b4;
$scheme1: #ff7f0e;
$scheme2: #2ca02c;
$scheme3: #d62728;
$bgColor: hsl(0,0,92);

html,body {
  height: 100%;
}

body {
  background: $bgColor;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.scrollable {
  max-width: 800px;
  margin: 0 auto;

  .headline {
    width: 100%;
  }

  h1,h2,h3 {
    text-align: center;
    margin: 0;
    color: white;
  }
  h2 {
    font-weight: 900;
    line-height: 1em;
    font-size: 1.5em;
  }
  h3 {
    font-size: 1em;
    font-weight: 100;
    a {
      font-weight: 900;
      color: white;
      text-decoration: none;
      border-bottom: 2px dotted hsla(0,0,100,0.25);
      transition: 0.4s border-bottom;
      &:hover,&:active {
        border-bottom: 2px dotted hsla(0,0,100,0.75);
      }
    }
  }
  .tease {
    font-weight: 700;
    display: inline-flex;
    padding: 1em;
    border-radius: 3px;
    background: hsla(0,0,100,0.9);
    cursor: default;
  }
  .page {
    height: 1000px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .double {
    height: 200%;
  }
  .half {
    height: 50%;
  }
  .quarter {
    height: 25%;
  }
}

.label {
  display: inline-block;
  max-width: 400px;
  margin: 1em;
  padding: 1em;
  border-radius: 3px;
  background: hsla(0,0,100,0.85);
  line-height: 1.5em;
  cursor: default;

  a {
    font-weight: 900;
    color: hsl(0,0,20);
    &:active,&:hover {
      color: hsl(0,0,50);
    }
  }
}

.netflix {
  color: $scheme3;
  font-weight: 900;
}

.meme {
  color: $scheme2;
  font-weight: 900;
}

.birdbox {
  color: $scheme1;
  font-weight: 900;
}

.aquaman {
  color: $scheme0;
  font-weight: 900;
}

#chart {
  position: fixed;
  .lines path {
    fill: none;
    stroke-width: 5px;
  }
}

#splash {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient( #0e2231, #1f77b4 60%, $bgColor);
}

.page input {
  display: block;
  width: 90%;
  font-size: 1.3em;
  margin: 20% auto 0;
}
@media(min-width: 400px) {
  .page input {
    font-size: 1.7em;
  }
}
@media(min-width: 600px) {
  .page input {
    font-size: 3em;
  }
}

.strong {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.holidays {
  font-weight: 400;
  font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
}